/* td {
  border: 1px solid black;
} */
tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table {
  font-size: small;
  font-family: sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 10px;
}

tbody tr:first-child {
  background-color: #000;
  color: #ffffff;
}

tbody tr:last-child {
  background-color: #000;
  color: #ffffff;
}

td {
  width: 20000px;
}

#tableDiv {
  max-width: 100%;
  overflow-y: auto;
}

.cellDiv {
  width: 70px;
  justify-content: center;
  display: flex;
  margin: 5px 0px 5px 0px;
}

tbody tr td:first-child div {
  width: 200px;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 5px;
}

#fileUpload {
  color: transparent;
}
#fileUpload::-webkit-file-upload-button {
  visibility: hidden;
}
#fileUpload::before {
  content: 'Select file';
  color: white;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(top, #000000, #d3d3d3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  font-weight: 700;
  font-size: 20pt;
}
#fileUpload:hover::before {
  border-color: black;
}
#fileUpload:active {
  outline: 0;
}
#fileUpload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

body {
  padding: 20px;
  background: rgb(152,153,158);
  background: radial-gradient(circle, rgba(152,153,158,0.29315476190476186) 0%, rgba(13,22,23,0.5284488795518207) 80%);
}

.btnDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}